.vscode/**
.vscode-test/**
out/**
node_modules/**
packages/**
.gitignore
.yarn/**
.yarnrc.yml
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
**/*.mp4
**/*.svg
**/*.afdesign
